
0001_aspire_chain_model_with_hclg.tar.bz2
caches/
build/
logs/
Testing/
*.wav
.vscode/c_cpp_properties.json
.vscode/settings.json

# Log files
*.log

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

test/resources/unittestCapture.raw
